@import url('https://fonts.googleapis.com/css2?family=Revalia&family=Russo+One&display=swap');

.title {
    -fx-fill: #FF3333;
    -fx-font: 50px "Russo One";
    -fx-alignment: center;
    -fx-text-alignment: center;
}
.btnStart {
    -fx-background-color: #FF3333;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
    -fx-font: 16px "Russo One";
    -fx-padding: 10;
    -fx-border-color: #FF3333;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-cursor: hand;
}
.table {
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-fill: black;
    -fx-font: 16px "Russo One";
    -fx-padding: 10;
    -fx-border-width: 1px;
}
.btnInstruction {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font: 16px "Russo One";
    -fx-padding: 10;
    -fx-cursor: hand;
    -fx-border-color: #FF3333;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
}
.backBtn {
    -fx-background-color: #FF3333;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-text-fill: white;
    -fx-font: 12px "Russo One";
    -fx-padding: 10;
    -fx-border-color: #FF3333;
    -fx-border-width: 1px;
    -fx-cursor: hand;
}
.instructionsText {
    -fx-fill: white;
    -fx-font: 16px "Russo One";
    -fx-alignment: center;
}
.background {
    -fx-background-image: url('../img/backgound.jfif');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}
.authFooter {
    -fx-fill: white;
    -fx-font: 16px "Russo One";
    -fx-alignment: center;
}
.resulSum {
    -fx-fill: white;
    -fx-font: 16px "Russo One";
    -fx-alignment: center;
}